*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ae00ff;
}

.container {
    background-color: #7e1cab;
    padding: 40px;
    text-align: center
}

img {
    width: 100px;
}

.footer {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}


